body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#inTitle2{
    color: rgb(41, 40, 40);
}
#inButton{
    height:25px ;
    width:100px ;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
}

/*Estilização do cabeçalho*/
#inCabecalho{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    overflow: hidden;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 57px;
}
header{
    height: 57px;
}
#inLogo{
    width: 214px;
    height: 57px;
}
#inFace{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
#inCarrinho{
    width: 25px;
    height: 25px;
    margin-bottom: 7px;
}
.inHo-St{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#inNav2{
    height: 40px;
}
#inNav1{
    display: flex;
    align-items:flex-end;
    gap: 25px;
    margin-left: 20px;
}
#inStore{
    text-decoration: none;
}

/*Estilização do contato*/


form{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:500px;
    width: 70%;
    padding: 30px;
    gap: 20px;
    margin-bottom: 50px;
}
form input{
    height: 33px;
    border-radius: 5px;
}
form p{
    margin-top: 0;
}
textarea{
    border-radius: 5px;
}
form button{
    height: 40px ;
    width: 90px;
    border: none;
    border-radius: 5px;
    align-self: center;
    background-color: black;
    color: white;
}
button:hover{
    background-color: #141414;
    color: black;
}
#inAtext{
    color: black;
    margin: 0;
}
#inDiv{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}
.inDivs{
   display: flex;
   flex-direction: column;
   width: 32%;
   gap: 5px;
}
input{
    border: solid 0.5px ;
}
/*css do rodape*/
#imagemface{
    width: 30px ;
    height: 32px ;
}
#imagemx{
    width: 30px ;
    height: 32px ;   
}
#navfacex{
    margin-top: 40px;
    display: flex;
    justify-self: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
    background-color: #141414;
    height: 150px;
    width: 100%;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    margin: 10px;
}
 /*Etilização do conetudo*/
 
h1{
    margin-top: 70px;
}
#inBotao{
    height: 35px ;
    width: 100px;
    border: none;
    border-radius: 5px;
    align-self: center;
    background-color:rgb(212, 116, 116) ;
    color:white;
}
#foto1{
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
}
.img{
    width: 110px;
    height: 120px;
    margin-bottom: 20px;
    margin-right: 10px;
}
#inSection1{
    height:380px;
    width:37%;
}
section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width:37%;
}
.inCorRosa{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-weight:900;
    color: rgb(212, 116, 116);
}
.inCorTexto{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
}
article{
    display:flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    width:100%;
    height:190px ;
}
.inDiv1{
    width:70%;
    height: 100%;
}
main{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Colocar bandeira*/
