body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#inTitle2{
    color: rgb(41, 40, 40);
}
#inButton{
    height:25px ;
    width:100px ;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
}

/*Estilização do cabeçalho*/
#inCabecalho{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 57px;
}
header{
    height: 57px;
}
#inLogo{
    width: 214px;
    height: 57px;
}
#inFace{
    width: 40px;
    height: 40px;
}
#inCarrinho{
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
}
.inHo-St{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#inNav2{
    height: 40px;
}
#inNav1{
    display: flex;
    align-items:flex-end;
    gap: 25px;
    margin-left: 20px;
}
#inStore{
    text-decoration: none;
}

/*Estilização do contato*/


form{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:500px;
    width: 70%;
    padding: 30px;
    gap: 20px;
}
form input{
    height: 33px;
    border-radius: 5px;
}
form p{
    margin-top: 0;
}
textarea{
    border-radius: 5px;
}
form button{
    height: 40px ;
    width: 90px;
    border: none;
    border-radius: 5px;
    align-self: center;
    background-color: black;
    color: white;
}
button:hover{
    background-color: #3b3838;
    color: black;
}
#inDiv{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}
.inDivs{
   display: flex;
   flex-direction: column;
   width: 32%;
   gap: 5px;
}
